
.nav-cont{
    display: flex;
    width: 100%;
    padding: 0.5%;
    background-color: black;
    
}
.nav-logo{
    width: 8%;
}
.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: rymfont;


}
.link{
    text-decoration: none;
    font-size: 1.8rem;
    color: #12b0c8;
    text-shadow: 1px 1px 2px #89a944;
    margin: 2% 0 2% 0 !important;
}

.link:hover{
    color: #89a944;
    text-shadow: 1px 1px 2px #12b0c8;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}